.contact {

    &__container {
        row-gap: 4.8rem;

        @include respond (tab-port) {
            @include grid_template-columns;     
        }
    }

    &__information {
        display: flex;
        margin-bottom: var(--mb-2);
    }

    &__icon {
        font-size: 3.2rem;
        color: var(--first-color);
        margin-right: var(--mb-0-75);
    }

    &__title {
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
    }

    &__subtitle {
        font-size: var(--small-font-size);
        color: var(--text-color-light);
    }

    &__content {
        background-color: var(--input-color);
        border-radius: .8rem;
        padding: 1.2rem 1.6rem .4rem;
    }

    &__label {
        font-size: var(--smaller-font-size);
        color: var(--title-color);
    }

    &__input {
        width: 100%;
        background-color: var(--input-color);
        color: var(--text-color);
        font-family: var(--normal-font-size);
        border: none;
        outline: none;
        padding: .4rem .8rem 0;
    }
}