.qualification {

    &__tabs {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: var(--mb-2);

        @include respond (normal-desktop) {
            justify-content: center;
        }
    }

    &__button {
        font-size: var(--h3-font-size);
        font-weight: var(--font--medium);
        cursor: pointer;

        &:hover {
            color: var(--first-color);
        }

        @include respond (normal-desktop) {
            margin: 0 var(--mb-1);
        }
    }

    &__icon {
        font-size: 2.88rem;
        margin-right: var(--mb-0-25);
    }

    &__sections {
        @include respond (tab-port) {
         display: grid;
         grid-template-columns: .6fr;
         justify-content: center;
        }

        @include respond (normal-desktop) {
            grid-template-columns: .5fr;
        }
    }

    &__data {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        column-gap: 1.5rem;
        padding-left: 3.2rem;
    }

    &__title {
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
    }

    &__subtitle {
        display: inline-block;
        font-size: var(--small-font-size);
        margin-bottom: var(--mb-1);
    }

    &__calendar {
        font-size: var(--smaller-font-size);
        color: var(--text-color-light);
    }

    &__rounder {
        display: inline-block;
        width: 13px;
        height: 13px;
        background-color: var(--first-color);
        border-radius: 50%;
    }

    &__line {
        display: block;
        width: 1px;
        height: 100%;
        background-color: var(--first-color);
        transform: translate(6px, -7px);
    }

    & [data-content] {
        display: none;
    }

    &__active[data-content] {
        display: block;
    }
    
    &__button.qualification__active {
        color: var(--first-color);
    }
}

